<extend name="Public:index" />
<block name="main">
<ol class="am-breadcrumb">
    <li><a href="{:U('Index/index')}" class="am-icon-home">首页</a></li>
    <li class="am-active">佣金结算</li>
</ol>

<div class="tpl-portlet-components">
    <div class="tpl-block">
        <div class="am-g">
            <form class="am-form-inline">
                <div  style="display: inline-flex;" class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'years', minViewMode: 'months'}">
                    <input style="border: 1px solid #c2cad8;"  type="text" id="startTime" class="am-form-field"  >
                    <span class="am-input-group-btn am-datepicker-add-on">
<button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
</span>
                </div>
                <input style="border: 1px solid #c2cad8;"  type="text" id="user_no" class="am-form-field" placeholder="代理账号" >
                <button type="button" class="am-btn am-btn-sm am-btn-warning" onclick="search()">查询</button>
            </form>
            <div class="am-u-sm-12">
                <form class="am-form">



                </form>
            </div>
        </div>
    </div>
</div>
<div class="tpl-alert"></div>
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/layer.css" />
<script src="__PUBLIC__/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="__PUBLIC__/Admin/assets/js/layer.js"></script>
<script>

    function getAjaxData(url) {
        var from = $('#startTime').val();
        var user_no = $('#user_no').val();
        if(from==''){
            layer.msg('请选择月份');
            return false;
        }
        $.ajax({
            url:url,
            type:'get',
            data:
                {
                    from:from,
                    user_no:user_no
                },
            success:function (result){
                $('.am-form').html(result);
            }
        });
    }

    function search(){
        var url='/admin.php/Commission/ajaxGet/p/1';
        getAjaxData(url);
    }
</script>

</block>