<extend name="Public:index" />
<block name="main">
    <div class="data">
        <div class="title">
            <h1>佣金结算</h1>
            <p>Commission Settlement</p>
        </div>
        <div class="clearing">
            <div class="timer">
                <input type="date"><span>到</span><input type="date">
                <button type="submit">生成</button>
            </div>
            <table>
                <thead>
                <tr>
                    <td>姓名</td>
                    <td>团队业绩</td>
                    <td>个人业绩</td>
                    <td>奖金</td>
                    <td>微信</td>
                    <td>支付宝</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                <tr>
                    <td>玲玲</td>
                    <td>突破百万</td>
                    <td>突破百万</td>
                    <td>￥2000</td>
                    <td>12312312</td>
                    <td>1234567891</td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="fenye">
            <ul>
                <li><a href="#"><<</a></li>
                <li><a href="#"><</a></li>
                <li class="f_active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">13</a></li>
                <li><a href="#"><</a></li>
                <li><a href="#"><<</a></li>
            </ul>
        </div>
    </div>
</block>